@import '../color/index.less';
// 样式前缀
@cz-prefix: cz;

// -------- Colors -----------
@primary-color: @blue-6;
@white: #fff;
@black: #000;

// ------- height-------------
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;

// vertical margins
@margin-lg: 24px; // containers
@margin-md: 16px; // small containers and buttons
@margin-sm: 12px; // Form controls and items
@margin-xs: 8px; // small items
@margin-xss: 4px; // more small

// vertical paddings
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 12px; // Form controls and items
@padding-xs: 8px; // small items
@padding-xss: 4px; // more small

// ------ border ------
@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border
@border-radius-base: 2px;

// -------fontSize-----
@font-size-base: 14px;
@font-size-lg: 16px;

// ------ Button -------
@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-border-width: @border-width-base;
@btn-border-style: @border-style-base;

@btn-primary-color: #fff;
@btn-primary-bg: @primary-color;

@btn-default-color: @text-color;
@btn-default-bg: @component-background;
@btn-default-border: @border-color-base;

@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-base;
