// green
@green-base: #52c41a;
@green-base-5: mix(@green-base, #fff);
@green-base-4: mix(@green-base-5, #fff);
@green-base-3: mix(@green-base-4, #fff);
@green-base-2: mix(@green-base-3, #fff);
@green-base-1: mix(@green-base-2, #fff);

// blue
@blue-base: #1890ff;
@blue-base-5: mix(@blue-base, #fff);
@blue-base-4: mix(@blue-base-5, #fff);
@blue-base-3: mix(@blue-base-4, #fff);
@blue-base-2: mix(@blue-base-3, #fff);
@blue-base-1: mix(@blue-base-2, #fff);

// red
@red-base: #f5222d;
@red-base-5: mix(@red-base, #fff);
@red-base-4: mix(@red-base-5, #fff);
@red-base-3: mix(@red-base-4, #fff);
@red-base-2: mix(@red-base-3, #fff);
@red-base-1: mix(@red-base-2, #fff);

// orange
@orange-base: #fa8c16;
@orange-base-5: mix(@orange-base, #fff);
@orange-base-4: mix(@orange-base-5, #fff);
@orange-base-3: mix(@orange-base-4, #fff);
@orange-base-2: mix(@orange-base-3, #fff);
@orange-base-1: mix(@orange-base-2, #fff);

@preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime,
  green, blue, geekblue, purple;
